<p><i>About Me</i></p>

<div about-container>
    <h2>YO!</h2>
    <p>Hi I'm Jordan, and I'm a Full Stack Developer (very cool).</p>
    <p>I've been a developer since 2018. Been doing web-based application and services work since then. Application work is where
        it's at. Services work is soul crushing. Love working on any UI/UX tasks and being able to work on a feature start to finish.
    </p>
    <p>I take code clean up very seriously. When I say spring cleaning, code clean up is what I mean.</p>
</div>
